<h3>Band Members</h3>

<table class="table table-striped">
  <thead><tr>
    <th>Action</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Instrument</th>
  </tr></thead>
  <tbody><tr data-ng-repeat="user in users">
    <td>
      <button class="btn" data-ng-click="editUser(user.id)">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
      </button>
    </td>
    <td>{{ user.fName }}</td>
    <td>{{ user.lName }}</td>
    <td>{{ user.instrument }}</td>
  </tr></tbody>
</table>
