<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div data-ng-app="" data-ng-controller="orderController" data-ng-init="name='Dweezil'">
 	<p>Name: <input type="text" data-ng-model="name"></p>
  <hr>
  <p><small>Only show items containing: <input type="text" ng-model="itemfilter"></small></p>
	<table border=1 cellpadding=2 width="100%">
	  <tr>
	    <th>SKU</th>
      <th>Description</th>
      <th align=right>Cost</th>
      <th align=right>Qty</th>
      <th align=right>Amount</th>
	  </tr>
	  <tr data-ng-repeat="x in order | filter:itemfilter | orderBy: 'sku'">
	    <td align=center>{{ x.sku }}</td>
      <td>{{ x.desc }}</td>
      <td align=right>{{ x.cost | currency }}</td>
      <td align=right>{{ x.qty }}</td>
      <td align=right>{{ x.qty * x.cost | currency }}</td>
	  </tr>
    <tr>
      <td colspan=3><span style="text-transform: capitalize">{{ name }}</span>'s total bill for {{ order.length }} items:</td>
      <td align=right><strong>{{ totalqty() }}</strong></td>
      <td align=right><strong>{{ invoice() | currency }}</strong></td>
    </tr>
	</table>
</div>

<script src="orderController.js"></script>

</body>
</html>