<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div data-ng-app="" data-ng-init="count = 0">

<p>
<button data-ng-hide="mySwitch" data-ng-disabled="mySwitch" data-ng-click="count = count + 1">Click Me!</button> {{ count }} times
</p>

<p>
<input type="checkbox" data-ng-model="mySwitch">Disable button
</p>

</div>

</body>
</html>