<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div data-ng-app="" data-ng-controller="formController">
  <form novalidate>
    First Name:<br>
    <input type="text" data-ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" data-ng-model="user.lastName">
    <br><br>
    <button data-ng-click="reset()">RESET</button>
  </form>
  <p>form = {{user}}</p>
  <p>master = {{master}}</p>
</div>

<script>
function formController ($scope) {
    $scope.master = {firstName: "Dweezil", lastName: "Zappa"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
};
</script>

</body>
</html>