<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<h2>Validation Example</h2>

<form data-ng-app="" data-ng-controller="validateCtrl" name="myForm" novalidate>

<p>Username:<br>
  <input type="text" name="user" data-ng-model="user" required>
  <span style="color:red" data-ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span data-ng-show="myForm.user.$error.required">Username is required.</span>
  </span>
</p>

<p>Email:<br>
  <input type="email" name="email" data-ng-model="email" required>
  <span style="color:red" data-ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span data-ng-show="myForm.email.$error.required">Email is required.</span>
  <span data-ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
</p>

<p>
  <input type="submit"
  data-ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
</p>

</form>

<script>
function validateCtrl($scope) {
    $scope.user = 'Dweezil Zappa';
    $scope.email = 'dweezil@zappa.com';
}
</script>
</body>
</html>