<!DOCTYPE html>
<html data-ng-app="">

<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body data-ng-controller="userController">

  <div class="container">

  <h3>Band Members</h3>

  <table class="table table-striped">
    <thead><tr>
      <th>Action</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Instrument</th>
    </tr></thead>
    <tbody><tr data-ng-repeat="user in users">
      <td>
        <button class="btn" data-ng-click="editUser(user.id)">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
        </button>
      </td>
      <td>{{ user.fName }}</td>
      <td>{{ user.lName }}</td>
      <td>{{ user.instrument }}</td>
    </tr></tbody>
  </table>

  <hr>

  <button class="btn btn-success" data-ng-click="editUser('new')">
    <span class="glyphicon glyphicon-user"></span> Create New User
  </button>
  <hr>

  <h3 data-ng-show="edit">Create New User:</h3>
  <h3 data-ng-hide="edit">Edit User:</h3>

  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name:</label>
    <div class="col-sm-10">
      <input type="text" data-ng-model="fName" data-ng-disabled="!edit" placeholder="First Name">
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name:</label>
    <div class="col-sm-10">
      <input type="text" data-ng-model="lName" data-ng-disabled="!edit" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Instrument:</label>
    <div class="col-sm-10">
      <input type="text" data-ng-model="instrument" data-ng-disabled="!edit" placeholder="Instrument">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-10">
      <input type="password" data-ng-model="passw1" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Repeat:</label>
    <div class="col-sm-10">
      <input type="password" data-ng-model="passw2" placeholder="Repeat Password">
    </div>
  </div>
  </form>

  <hr>
  <button class="btn btn-success" data-ng-disabled="error || incomplete">
    <span class="glyphicon glyphicon-save"></span> Save Changes
  </button>

</div>

<script src = "myUsers.js"></script>

</body>
</html>