<!DOCTYPE html>
<html data-ng-app="gemStore">
<title>Angular.js Gem Store</title>

<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="custom.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body data-ng-controller="StoreController as store">

  <div data-ng-repeat="product in store.products | orderBy:'-price'">
    <div data-ng-hide="product.soldOut">
      <h3><product-title></product-title></h3>
      <img ng-src="{{product.images[0].full}}"/>
      <product-panels></product-panels>
      <button data-ng-show="product.canPurchase"> Add to Cart </button>
      <hr>
    </div>
  </div>

  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="products.js"></script>

</body>
</html>
