<section>
  <ul class="nav nav-pills">
    <li data-ng-class="{ active:panel.isSelected(1) }"> <a href data-ng-click="panel.selectTab(1)">Description</a></li>
    <li data-ng-class="{ active:panel.isSelected(2) }"> <a href data-ng-click="panel.selectTab(2)">Specifications</a></li>
    <li data-ng-class="{ active:panel.isSelected(3) }"> <a href data-ng-click="panel.selectTab(3)">Reviews</a></li>
  </ul>
  <div class="panel" data-ng-show="panel.isSelected(1)">
    <blockquote>{{ product.description }}</blockquote>
  </div>
  <div class="panel" data-ng-show="panel.isSelected(2)">
    <blockquote>None Yet</blockquote>
  </div>
  <div class="panel" data-ng-show="panel.isSelected(3)">
    <span data-ng-show="product.reviews.length <= 0 or product.reviews is null"><em>Be the first to leave a review! Win valueless prizes!</em></span>
    <blockquote data-ng-repeat="review in product.reviews">
      <b>Stars: {{review.stars}}</b>
      {{review.body}}<br />
      <cite>- {{review.author}}</cite>
    </blockquote>
    <form name="reviewForm" data-ng-controller="ReviewController as reviewCtrl"
          data-ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
      <blockquote>
        <b>Stars: {{reviewCtrl.review.stars}}</b>
        {{reviewCtrl.review.body}}<br />
        <cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
      </blockquote>
      <fieldset class="form-group">
        <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
            <option value="">Rate the Product</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product." title="Review" required></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="Enter your email address." title="Email" required />
      </fieldset>
      <div>reviewForm is {{reviewForm.$valid}}</div>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" data-ng-enabled="reviewForm.$valid" />
      </fieldset>
    </form>
  </div>
</section>